/* Общий контейнер слайдера */
.slider-container {
  padding: 30px;
  width: 95vw; /* На всю ширину экрана */
  height: 40vh; /* На всю высоту экрана */
  margin: auto;
  overflow: hidden;
}

/* Контейнер для слайдов */
.slide {
  padding: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  opacity: 0.5; /* Затемнены по умолчанию */
}

.activeSlide {
  transform: scale(1.2); /* Увеличение активного слайда */
  opacity: 1; /* Полная видимость активного слайда */
}

.inactive {
  transform: scale(1); /* Уменьшенные боковые слайды */
  opacity: 0.5; /* Затемнение неактивных слайдов */
}

/* Контейнер для изображений */
.image-container {
 
  display: flex;
  justify-content: space-around; /* Размещаем изображения по бокам */
  width: 90%; /* Ширина контейнера для изображений */
  
}

.image-wrapper {
  width: 95%; /* Каждое изображение занимает 45% контейнера */
  
  margin: 0 5px; /* Небольшой отступ между изображениями */
  position: relative;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Изображения растягиваются пропорционально */
  border-radius: 10px; /* Небольшие скругления */
  transition: all 0.5s ease;
}

/* Текстовое описание */
.text-container {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 1.2em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .slider-container {
    height: auto; /* Высота адаптируется для мобильных */
  }

  .image-container {
    flex-direction: column; /* Изображения в колонку на маленьких экранах */
    align-items: center;
  }

  .image-wrapper {
    width: 100%;
    margin: 10px 0; /* Отступы для мобильных */
  }

  .slider-image {
    height: 300px; /* Фиксированная высота для мобильных устройств */
  }
}
