.PaginationContainer {
  width: 80%;

  margin: 0 auto;
  font-family: 'Poppins';
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
  }
  
  .pagination button {
    background-color: white;
    border: 1px solid #d4ff1f;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .pagination button.active {
    background-color: #d4ff1f;
    color: black;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }